.game {
  padding: 20px 100px;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  overflow: hidden;

  &:focus {
    outline: 2px solid gold;
    outline-offset: -2px;
  }

  canvas {
    margin: auto;
    display: block;
    image-rendering: pixelated;
  }
}